
.restaurant-container {
  width: 100%;
  padding: 40px 20px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
}


.inner-con {
  width: 100%;
  max-width: 1200px;
}


.top-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top-heading h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}


.arrows button {
height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    opacity: 0.7;
  margin-left: 20px;
  cursor: pointer;
}

.arrows button:hover {
  transform: scale(1.2);
  color: #000;
}


.restaurant-grid {
  display: flex;
  overflow-x: auto;
  gap: 20px;
 
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding-bottom: 10px;
}


.restaurant-card {
  min-width: 290px;

  border-radius: 10px;
  padding: 16px;
 
  flex-shrink: 0;
  transition: transform 0.2s ease;
}

.restaurant-card:hover {
  transform: scale(0.95);
}

.restaurant-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}

.restaurant-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.restaurant-card .title,
.restaurant-card .rating,
.restaurant-card .offer {
  font-size: 14px;
  color: #555;
}
